    <div id="content">
        <div class="container">
                            <div class="row" id="highlighted">
                    <div class="span9">
                                                <div class="highlighted">  <div class="region region-highlighted">
    <div id="block-views-frontpage-slider-block" class="block block-views">
  <div class="title">
              </div><!-- /.title -->

  <div class="content">
    <div class="view view-frontpage-slider view-id-frontpage_slider view-display-id-block view-dom-id-ef494787395f735bcab970b28f619ad4">
        
  
  
      <div class="view-content">
      
<div class="skin-default">
  
  <div id="views_slideshow_cycle_main_frontpage_slider-block" class="views_slideshow_cycle_main views_slideshow_main"><div id="views_slideshow_cycle_teaser_section_frontpage_slider-block" class="views-slideshow-cycle-main-frame views_slideshow_cycle_teaser_section">
  <div id="views_slideshow_cycle_div_frontpage_slider-block_0" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-1 views-row-odd">
  <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">
    
  <div class="views-field views-field-mediabox-image">        <div class="field-content"><img typeof="foaf:Image" src="sites/default/files/crops/170-3_0.jpg" width="870" height="420" alt="" title="3_0.jpg" /></div>  </div>  
  <div class="views-field views-field-nothing">        <span class="field-content"><div class="slider-info">
<div class="price">
<h2>€450 000.00</h2>
<a href="content/frontpage-slider.html">More</a>
</div>
<h2><a href="property/condo/malibu-ca/1041-fife-ave.html">1041 Fife Ave</a></h2>
<h3></h3>
<div class="bathrooms">5</div>
<div class="bedrooms">5</div>
</div></span>  </div></div>
</div>
<div id="views_slideshow_cycle_div_frontpage_slider-block_1" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-2 views_slideshow_cycle_hidden views-row-even">
  <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">
    
  <div class="views-field views-field-mediabox-image">        <div class="field-content"><img typeof="foaf:Image" src="sites/default/files/crops/171-2.jpg" width="870" height="420" alt="" title="2.jpg" /></div>  </div>  
  <div class="views-field views-field-nothing">        <span class="field-content"><div class="slider-info">
<div class="price">
<h2>€1 200 000.00</h2>
<a href="content/frontpage-slider.html">More</a>
</div>
<h2><a href="property/apartment/palo-alto-ca/26110-pacific-coast.html">26110 Pacific Coast</a></h2>
<h3></h3>
<div class="bathrooms">5</div>
<div class="bedrooms">5</div>
</div></span>  </div></div>
</div>
<div id="views_slideshow_cycle_div_frontpage_slider-block_2" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-3 views_slideshow_cycle_hidden views-row-odd">
  <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">
    
  <div class="views-field views-field-mediabox-image">        <div class="field-content"><img typeof="foaf:Image" src="sites/default/files/crops/172-1_1.jpg" width="870" height="420" alt="" title="1_1.jpg" /></div>  </div>  
  <div class="views-field views-field-nothing">        <span class="field-content"><div class="slider-info">
<div class="price">
<h2>€450 000.00</h2>
<a href="content/frontpage-slider.html">More</a>
</div>
<h2><a href="property/other/malibu-ca/2889-alma-st.html">2889 Alma St</a></h2>
<h3></h3>
<div class="bathrooms">2</div>
<div class="bedrooms">4</div>
</div></span>  </div></div>
</div>
</div>
</div>
      <div class="views-slideshow-controls-bottom clearfix">
      <div id="widget_pager_bottom_frontpage_slider-block" class="views-slideshow-pager-fields widget_pager widget_pager_bottom views_slideshow_pager_field">
  <div id="views_slideshow_pager_field_item_bottom_frontpage_slider-block_0" class="views-slideshow-pager-field-item views_slideshow_pager_field_item views_slideshow_active_pager_field_item views-row-odd">
  <div class="views-field-field-location">
    <div class="views-content-field-location">
      </div>
</div>
</div>
<div id="views_slideshow_pager_field_item_bottom_frontpage_slider-block_1" class="views-slideshow-pager-field-item views_slideshow_pager_field_item views-row-even">
  <div class="views-field-field-location">
    <div class="views-content-field-location">
      </div>
</div>
</div>
<div id="views_slideshow_pager_field_item_bottom_frontpage_slider-block_2" class="views-slideshow-pager-field-item views_slideshow_pager_field_item views-row-odd">
  <div class="views-field-field-location">
    <div class="views-content-field-location">
      </div>
</div>
</div>
</div>
    </div>
  </div>
    </div>
  
  
  
  
  
  
</div>  </div><!-- /.content --> 
</div><!-- /.block -->
  </div>
</div>
                                            </div>

                    <div class="span3">
                                                  <div class="region region-highlighted-sidebar">
    <div id="block-multiblock-2" class="block block-multiblock block-filter">
  <div class="title">
              </div><!-- /.title -->

  <div class="content">
    <form action="http://drupal.realia.byaviators.com/list-grid-filter" method="get" id="views-exposed-form-apartments-listing-grid-filtered" accept-charset="UTF-8"><div><div class="views-exposed-form">
  <div class="views-exposed-widgets clearfix">
          <div id="edit-field-location-tid-wrapper" class="views-exposed-widget views-widget-filter-field_location_tid">
                  <label for="edit-field-location-tid">
            Ciudad          </label>
                        <div class="views-widget">
          <div class="form-item form-type-select form-item-field-location-tid">
 <select id="edit-field-location-tid" name="field_location_tid" class="form-select"><option value="All" selected="selected">- Cualquiera -</option><option value="52">Malibu CA</option><option value="51">Palo Alto CA</option></select>
</div>
        </div>
              </div>
          <div id="edit-field-type-tid-wrapper" class="views-exposed-widget views-widget-filter-field_type_tid">
                  <label for="edit-field-type-tid">
            Tipo Propiedad          </label>
                        <div class="views-widget">
          <div class="form-item form-type-select form-item-field-type-tid">
 <select id="edit-field-type-tid" name="field_type_tid" class="form-select"><option value="All" selected="selected">- Cualquiera -</option><option value="3">Departamento</option><option value="7">Area Construccion</option><option value="5">Condo</option><option value="6">Cottage</option><option value="2">Family Home</option><option value="8">Other</option><option value="1">Single Home</option><option value="4">Villa</option></select>
</div>
        </div>
              </div>
          <div id="edit-field-bedrooms-value-wrapper" class="views-exposed-widget views-widget-filter-field_bedrooms_value">
                  <label for="edit-field-bedrooms-value">
            Habitaciones          </label>
                        <div class="views-widget">
          <div class="form-item form-type-select form-item-field-bedrooms-value">
 <select id="edit-field-bedrooms-value" name="field_bedrooms_value" class="form-select"><option value="All" selected="selected">- Cualquiera -</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select>
</div>
        </div>
              </div>
          <div id="edit-field-bathrooms-value-wrapper" class="views-exposed-widget views-widget-filter-field_bathrooms_value">
                  <label for="edit-field-bathrooms-value">
            Baños          </label>
                        <div class="views-widget">
          <div class="form-item form-type-select form-item-field-bathrooms-value">
 <select id="edit-field-bathrooms-value" name="field_bathrooms_value" class="form-select"><option value="All" selected="selected">- Cualquiera -</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select>
</div>
        </div>
              </div>
          <div id="edit-field-price-value-wrapper" class="views-exposed-widget views-widget-filter-field_price_value">
                  <label for="edit-field-price-value">
            Price          </label>
                        <div class="views-widget">
          <div class="form-item form-type-textfield form-item-field-price-value-min">
  <input type="text" id="edit-field-price-value-min" name="field_price_value[min]" value="10000" size="30" maxlength="128" class="form-text" />
</div>
<div class="form-item form-type-textfield form-item-field-price-value-max">
  <label for="edit-field-price-value-max" class="control-label">Y </label>
 <input type="text" id="edit-field-price-value-max" name="field_price_value[max]" value="1000000" size="30" maxlength="128" class="form-text" />
</div>
        </div>
              </div>
          <div id="edit-field-contract-type-tid-wrapper" class="views-exposed-widget views-widget-filter-field_contract_type_tid">
                  <label for="edit-field-contract-type-tid">
            Contract          </label>
                        <div class="views-widget">
          <div class="form-item form-type-select form-item-field-contract-type-tid">
 <div class="form-checkboxes bef-select-as-checkboxes"><div class="bef-checkboxes"><div class="form-item form-type-bef-checkbox form-item-edit-field-contract-type-tid-45">
 <input type="checkbox" name="field_contract_type_tid[]" id="edit-field-contract-type-tid-45" value="45" checked="checked"  multiple="multiple" /> <label class='option' for='edit-field-contract-type-tid-45'>Arriendo</label>
</div>
<div class="form-item form-type-bef-checkbox form-item-edit-field-contract-type-tid-44">
 <input type="checkbox" name="field_contract_type_tid[]" id="edit-field-contract-type-tid-44" value="44" checked="checked"  multiple="multiple" /> <label class='option' for='edit-field-contract-type-tid-44'>Venta</label>
</div>
</div></div>
</div>
        </div>
              </div>
                    <div class="views-exposed-widget views-submit-button">
      <button class="btn btn-primary form-submit" id="edit-submit-apartments" name="" value="Search now" type="submit">Buscar Ahora</button>
    </div>
      </div>
</div>
</div></form>  </div><!-- /.content --> 
</div><!-- /.block -->
  </div>
                                            </div>
                </div><!-- /#highlighted -->                
            
            <div class="row">
                
                <section class="span12">

                    <a id="main-content"></a>
                                                            <h1 class="page-header">Propiedades
                                                            más recientes</h1>
                                        
                    
                                                                                                                        
<div class="view view-apartments view-id-apartments view-display-id-page_3 listing-grid view-dom-id-dd648b5ac861528aee942ad6a2b6e46c">
        
  
  
      <div class="view-content">
      <div class="row">
    <div  class="span12">
              <div class="row">
                      <div  class="item span3">
                
  <div class="views-field views-field-field-image">        <div class="field-content"><a href="property/condo/palo-alto-ca/27523-pacific-coast.html"><img typeof="foaf:Image" src="sites/default/files/prop_3.jpg" width="540" height="400" alt="" /></a></div>  </div>  
  <div class="views-field views-field-title">        <h2 class="field-content"><a href="property/condo/palo-alto-ca/27523-pacific-coast.html">27523 Pacific Coast</a></h2>  </div>  
  <div class="views-field views-field-field-location">        <div class="field-content">Palo Alto CA</div>  </div>  
  <div class="views-field views-field-field-price">        <div class="field-content">€2 300 000</div>  </div>  
  <div class="views-field views-field-field-area">    <span class="views-label views-label-field-area">Area: </span>    <div class="field-content">750m<sup>2</sup></div>  </div>  
  <div class="views-field views-field-field-bathrooms">        <div class="field-content">3</div>  </div>  
  <div class="views-field views-field-field-bedrooms">        <div class="field-content">3</div>  </div>            </div>
                      <div  class="item span3">
                
  <div class="views-field views-field-field-image">        <div class="field-content"><a href="property/building-area/palo-alto-ca/6446-lunita.html"><img typeof="foaf:Image" src="sites/default/files/14.jpg" width="540" height="400" alt="" /></a></div>  </div>  
  <div class="views-field views-field-title">        <h2 class="field-content"><a href="property/building-area/palo-alto-ca/6446-lunita.html">6446 Lunita</a></h2>  </div>  
  <div class="views-field views-field-field-location">        <div class="field-content">Palo Alto CA</div>  </div>  
  <div class="views-field views-field-field-price">        <div class="field-content">€979 000</div>  </div>  
  <div class="views-field views-field-field-area">    <span class="views-label views-label-field-area">Area: </span>    <div class="field-content">324m<sup>2</sup></div>  </div>  
  <div class="views-field views-field-field-bathrooms">        <div class="field-content">2</div>  </div>  
  <div class="views-field views-field-field-bedrooms">        <div class="field-content">2</div>  </div>            </div>
                      <div  class="item span3">
                
  <div class="views-field views-field-field-image">        <div class="field-content"><a href="property/single-home/palo-alto-ca/6980-dume-dr.html"><img typeof="foaf:Image" src="sites/default/files/11_7.jpg" width="540" height="400" alt="" /></a></div>  </div>  
  <div class="views-field views-field-title">        <h2 class="field-content"><a href="property/single-home/palo-alto-ca/6980-dume-dr.html">6980 Dume Dr</a></h2>  </div>  
  <div class="views-field views-field-field-location">        <div class="field-content">Palo Alto CA</div>  </div>  
  <div class="views-field views-field-field-price">        <div class="field-content">€3 995 000</div>  </div>  
  <div class="views-field views-field-field-area">    <span class="views-label views-label-field-area">Area: </span>    <div class="field-content">300m<sup>2</sup></div>  </div>  
  <div class="views-field views-field-field-bathrooms">        <div class="field-content">3</div>  </div>  
  <div class="views-field views-field-field-bedrooms">        <div class="field-content">3</div>  </div>            </div>
                      <div  class="item span3">
                
  <div class="views-field views-field-field-image">        <div class="field-content"><a href="property/family-home/palo-alto-ca/6477-zuma-view-pl.html"><img typeof="foaf:Image" src="sites/default/files/7_7.jpg" width="540" height="400" alt="" /></a></div>  </div>  
  <div class="views-field views-field-title">        <h2 class="field-content"><a href="property/family-home/palo-alto-ca/6477-zuma-view-pl.html">6477 Zuma View Pl</a></h2>  </div>  
  <div class="views-field views-field-field-location">        <div class="field-content">Palo Alto CA</div>  </div>  
  <div class="views-field views-field-field-price">        <div class="field-content">€889 000</div>  </div>  
  <div class="views-field views-field-field-area">    <span class="views-label views-label-field-area">Area: </span>    <div class="field-content">120m<sup>2</sup></div>  </div>  
  <div class="views-field views-field-field-bathrooms">        <div class="field-content">1</div>  </div>  
  <div class="views-field views-field-field-bedrooms">        <div class="field-content">3</div>  </div>            </div>
                  </div>
              <div class="row">
                      <div  class="item span3">
                
  <div class="views-field views-field-field-image">        <div class="field-content"><a href="property/family-home/palo-alto-ca/26600-ocean-view.html"><img typeof="foaf:Image" src="sites/default/files/8.jpg" width="540" height="400" alt="" /></a></div>  </div>  
  <div class="views-field views-field-title">        <h2 class="field-content"><a href="property/family-home/palo-alto-ca/26600-ocean-view.html">26600 Ocean View</a></h2>  </div>  
  <div class="views-field views-field-field-location">        <div class="field-content">Palo Alto CA</div>  </div>  
  <div class="views-field views-field-field-price">        <div class="field-content">€895 000</div>  </div>  
  <div class="views-field views-field-field-area">    <span class="views-label views-label-field-area">Area: </span>    <div class="field-content">120m<sup>2</sup></div>  </div>  
  <div class="views-field views-field-field-bathrooms">        <div class="field-content">2</div>  </div>  
  <div class="views-field views-field-field-bedrooms">        <div class="field-content">2</div>  </div>            </div>
                      <div  class="item span3">
                
  <div class="views-field views-field-field-image">        <div class="field-content"><a href="property/villa/malibu-ca/555-byron-st-304.html"><img typeof="foaf:Image" src="sites/default/files/10_13.jpg" width="540" height="400" alt="" /></a></div>  </div>  
  <div class="views-field views-field-title">        <h2 class="field-content"><a href="property/villa/malibu-ca/555-byron-st-304.html">555 Byron St #304</a></h2>  </div>  
  <div class="views-field views-field-field-location">        <div class="field-content">Malibu CA</div>  </div>  
  <div class="views-field views-field-field-price">        <div class="field-content">€500</div>  </div>  
  <div class="views-field views-field-field-area">    <span class="views-label views-label-field-area">Area: </span>    <div class="field-content">450m<sup>2</sup></div>  </div>  
  <div class="views-field views-field-field-bathrooms">        <div class="field-content">3</div>  </div>  
  <div class="views-field views-field-field-bedrooms">        <div class="field-content">2</div>  </div>            </div>
                      <div  class="item span3">
                
  <div class="views-field views-field-field-image">        <div class="field-content"><a href="property/apartment/palo-alto-ca/20729-eaglepass-dr.html"><img typeof="foaf:Image" src="sites/default/files/4_1.jpg" width="540" height="400" alt="" /></a></div>  </div>  
  <div class="views-field views-field-title">        <h2 class="field-content"><a href="property/apartment/palo-alto-ca/20729-eaglepass-dr.html">20729 Eaglepass Dr</a></h2>  </div>  
  <div class="views-field views-field-field-location">        <div class="field-content">Palo Alto CA</div>  </div>  
  <div class="views-field views-field-field-price">        <div class="field-content">€2 250 000</div>  </div>  
  <div class="views-field views-field-field-area">    <span class="views-label views-label-field-area">Area: </span>    <div class="field-content">140m<sup>2</sup></div>  </div>  
  <div class="views-field views-field-field-bathrooms">        <div class="field-content">2</div>  </div>  
  <div class="views-field views-field-field-bedrooms">        <div class="field-content">2</div>  </div>            </div>
                      <div  class="item span3">
                
  <div class="views-field views-field-field-image">        <div class="field-content"><a href="property/apartment/malibu-ca/33355-pacific-coast.html"><img typeof="foaf:Image" src="sites/default/files/3_4.jpg" width="540" height="400" alt="" /></a></div>  </div>  
  <div class="views-field views-field-title">        <h2 class="field-content"><a href="property/apartment/malibu-ca/33355-pacific-coast.html">33355 Pacific Coast</a></h2>  </div>  
  <div class="views-field views-field-field-location">        <div class="field-content">Malibu CA</div>  </div>  
  <div class="views-field views-field-field-price">        <div class="field-content">€2 500 000</div>  </div>  
  <div class="views-field views-field-field-area">    <span class="views-label views-label-field-area">Area: </span>    <div class="field-content">200m<sup>2</sup></div>  </div>  
  <div class="views-field views-field-field-bathrooms">        <div class="field-content">5</div>  </div>  
  <div class="views-field views-field-field-bedrooms">        <div class="field-content">1</div>  </div>            </div>
                  </div>
          </div>
</div>    </div>
</div>


                </section>

                            </div>
            <div class="row" id="carousel">
                                <div class="sidebar span12" role="complementary">
                      <div class="region region-carousel">
    <div id="block-views-apartments-carousel" class="block block-views">
  <div class="title">
              <h2 class="block-title">Todas las Propiedades</h2>
          </div><!-- /.title -->

  <div class="content">
    <div class="view view-apartments view-id-apartments view-display-id-carousel view-dom-id-2d6865d4d0e4aa5289d851a5abe48ecb span12">
        
  
  
      <div class="view-content">
      <ul class="jcarousel jcarousel-view--apartments--carousel jcarousel-dom-1 jcarousel-skin-tango">
      <li class="jcarousel-item-1 odd">  
  <div class="views-field views-field-field-image">        <div class="field-content"><a href="property/condo/palo-alto-ca/27523-pacific-coast.html"><img typeof="foaf:Image" src="sites/default/files/prop_3.jpg" width="540" height="400" alt="" /></a></div>  </div>  
  <div class="views-field views-field-title">        <h2 class="field-content"><a href="property/condo/palo-alto-ca/27523-pacific-coast.html">27523 Pacific Coast</a></h2>  </div>  
  <div class="views-field views-field-field-location">        <div class="field-content">Palo Alto CA</div>  </div>  
  <div class="views-field views-field-field-price">        <div class="field-content">€2 300 000</div>  </div>  
  <div class="views-field views-field-field-area">    <span class="views-label views-label-field-area">Area: </span>    <div class="field-content">750m<sup>2</sup></div>  </div>  
  <div class="views-field views-field-field-bathrooms">        <div class="field-content">3</div>  </div>  
  <div class="views-field views-field-field-bedrooms">        <div class="field-content">3</div>  </div></li>
      <li class="jcarousel-item-2 even">  
  <div class="views-field views-field-field-image">        <div class="field-content"><a href="property/building-area/palo-alto-ca/6446-lunita.html"><img typeof="foaf:Image" src="sites/default/files/14.jpg" width="540" height="400" alt="" /></a></div>  </div>  
  <div class="views-field views-field-title">        <h2 class="field-content"><a href="property/building-area/palo-alto-ca/6446-lunita.html">6446 Lunita</a></h2>  </div>  
  <div class="views-field views-field-field-location">        <div class="field-content">Palo Alto CA</div>  </div>  
  <div class="views-field views-field-field-price">        <div class="field-content">€979 000</div>  </div>  
  <div class="views-field views-field-field-area">    <span class="views-label views-label-field-area">Area: </span>    <div class="field-content">324m<sup>2</sup></div>  </div>  
  <div class="views-field views-field-field-bathrooms">        <div class="field-content">2</div>  </div>  
  <div class="views-field views-field-field-bedrooms">        <div class="field-content">2</div>  </div></li>
      <li class="jcarousel-item-3 odd">  
  <div class="views-field views-field-field-image">        <div class="field-content"><a href="property/single-home/palo-alto-ca/6980-dume-dr.html"><img typeof="foaf:Image" src="sites/default/files/11_7.jpg" width="540" height="400" alt="" /></a></div>  </div>  
  <div class="views-field views-field-title">        <h2 class="field-content"><a href="property/single-home/palo-alto-ca/6980-dume-dr.html">6980 Dume Dr</a></h2>  </div>  
  <div class="views-field views-field-field-location">        <div class="field-content">Palo Alto CA</div>  </div>  
  <div class="views-field views-field-field-price">        <div class="field-content">€3 995 000</div>  </div>  
  <div class="views-field views-field-field-area">    <span class="views-label views-label-field-area">Area: </span>    <div class="field-content">300m<sup>2</sup></div>  </div>  
  <div class="views-field views-field-field-bathrooms">        <div class="field-content">3</div>  </div>  
  <div class="views-field views-field-field-bedrooms">        <div class="field-content">3</div>  </div></li>
      <li class="jcarousel-item-4 even">  
  <div class="views-field views-field-field-image">        <div class="field-content"><a href="property/family-home/palo-alto-ca/6477-zuma-view-pl.html"><img typeof="foaf:Image" src="sites/default/files/7_7.jpg" width="540" height="400" alt="" /></a></div>  </div>  
  <div class="views-field views-field-title">        <h2 class="field-content"><a href="property/family-home/palo-alto-ca/6477-zuma-view-pl.html">6477 Zuma View Pl</a></h2>  </div>  
  <div class="views-field views-field-field-location">        <div class="field-content">Palo Alto CA</div>  </div>  
  <div class="views-field views-field-field-price">        <div class="field-content">€889 000</div>  </div>  
  <div class="views-field views-field-field-area">    <span class="views-label views-label-field-area">Area: </span>    <div class="field-content">120m<sup>2</sup></div>  </div>  
  <div class="views-field views-field-field-bathrooms">        <div class="field-content">1</div>  </div>  
  <div class="views-field views-field-field-bedrooms">        <div class="field-content">3</div>  </div></li>
      <li class="jcarousel-item-5 odd">  
  <div class="views-field views-field-field-image">        <div class="field-content"><a href="property/family-home/palo-alto-ca/26600-ocean-view.html"><img typeof="foaf:Image" src="sites/default/files/8.jpg" width="540" height="400" alt="" /></a></div>  </div>  
  <div class="views-field views-field-title">        <h2 class="field-content"><a href="property/family-home/palo-alto-ca/26600-ocean-view.html">26600 Ocean View</a></h2>  </div>  
  <div class="views-field views-field-field-location">        <div class="field-content">Palo Alto CA</div>  </div>  
  <div class="views-field views-field-field-price">        <div class="field-content">€895 000</div>  </div>  
  <div class="views-field views-field-field-area">    <span class="views-label views-label-field-area">Area: </span>    <div class="field-content">120m<sup>2</sup></div>  </div>  
  <div class="views-field views-field-field-bathrooms">        <div class="field-content">2</div>  </div>  
  <div class="views-field views-field-field-bedrooms">        <div class="field-content">2</div>  </div></li>
      <li class="jcarousel-item-6 even">  
  <div class="views-field views-field-field-image">        <div class="field-content"><a href="property/villa/malibu-ca/555-byron-st-304.html"><img typeof="foaf:Image" src="sites/default/files/10_13.jpg" width="540" height="400" alt="" /></a></div>  </div>  
  <div class="views-field views-field-title">        <h2 class="field-content"><a href="property/villa/malibu-ca/555-byron-st-304.html">555 Byron St #304</a></h2>  </div>  
  <div class="views-field views-field-field-location">        <div class="field-content">Malibu CA</div>  </div>  
  <div class="views-field views-field-field-price">        <div class="field-content">€500</div>  </div>  
  <div class="views-field views-field-field-area">    <span class="views-label views-label-field-area">Area: </span>    <div class="field-content">450m<sup>2</sup></div>  </div>  
  <div class="views-field views-field-field-bathrooms">        <div class="field-content">3</div>  </div>  
  <div class="views-field views-field-field-bedrooms">        <div class="field-content">2</div>  </div></li>
      <li class="jcarousel-item-7 odd">  
  <div class="views-field views-field-field-image">        <div class="field-content"><a href="property/apartment/palo-alto-ca/20729-eaglepass-dr.html"><img typeof="foaf:Image" src="sites/default/files/4_1.jpg" width="540" height="400" alt="" /></a></div>  </div>  
  <div class="views-field views-field-title">        <h2 class="field-content"><a href="property/apartment/palo-alto-ca/20729-eaglepass-dr.html">20729 Eaglepass Dr</a></h2>  </div>  
  <div class="views-field views-field-field-location">        <div class="field-content">Palo Alto CA</div>  </div>  
  <div class="views-field views-field-field-price">        <div class="field-content">€2 250 000</div>  </div>  
  <div class="views-field views-field-field-area">    <span class="views-label views-label-field-area">Area: </span>    <div class="field-content">140m<sup>2</sup></div>  </div>  
  <div class="views-field views-field-field-bathrooms">        <div class="field-content">2</div>  </div>  
  <div class="views-field views-field-field-bedrooms">        <div class="field-content">2</div>  </div></li>
      <li class="jcarousel-item-8 even">  
  <div class="views-field views-field-field-image">        <div class="field-content"><a href="property/apartment/malibu-ca/33355-pacific-coast.html"><img typeof="foaf:Image" src="sites/default/files/3_4.jpg" width="540" height="400" alt="" /></a></div>  </div>  
  <div class="views-field views-field-title">        <h2 class="field-content"><a href="property/apartment/malibu-ca/33355-pacific-coast.html">33355 Pacific Coast</a></h2>  </div>  
  <div class="views-field views-field-field-location">        <div class="field-content">Malibu CA</div>  </div>  
  <div class="views-field views-field-field-price">        <div class="field-content">€2 500 000</div>  </div>  
  <div class="views-field views-field-field-area">    <span class="views-label views-label-field-area">Area: </span>    <div class="field-content">200m<sup>2</sup></div>  </div>  
  <div class="views-field views-field-field-bathrooms">        <div class="field-content">5</div>  </div>  
  <div class="views-field views-field-field-bedrooms">        <div class="field-content">1</div>  </div></li>
      <li class="jcarousel-item-9 odd">  
  <div class="views-field views-field-field-image">        <div class="field-content"><a href="property/apartment/palo-alto-ca/26110-pacific-coast.html"><img typeof="foaf:Image" src="sites/default/files/6_15.jpg" width="540" height="400" alt="" /></a></div>  </div>  
  <div class="views-field views-field-title">        <h2 class="field-content"><a href="property/apartment/palo-alto-ca/26110-pacific-coast.html">26110 Pacific Coast</a></h2>  </div>  
  <div class="views-field views-field-field-location">        <div class="field-content">Palo Alto CA</div>  </div>  
  <div class="views-field views-field-field-price">        <div class="field-content">€1 200 000</div>  </div>  
  <div class="views-field views-field-field-area">    <span class="views-label views-label-field-area">Area: </span>    <div class="field-content">400m<sup>2</sup></div>  </div>  
  <div class="views-field views-field-field-bathrooms">        <div class="field-content">5</div>  </div>  
  <div class="views-field views-field-field-bedrooms">        <div class="field-content">5</div>  </div></li>
      <li class="jcarousel-item-10 even">  
  <div class="views-field views-field-field-image">        <div class="field-content"><a href="property/single-home/malibu-ca/4211-avenida-de-la.html"><img typeof="foaf:Image" src="sites/default/files/7.jpg" width="540" height="400" alt="" /></a></div>  </div>  
  <div class="views-field views-field-title">        <h2 class="field-content"><a href="property/single-home/malibu-ca/4211-avenida-de-la.html">4211 Avenida De La</a></h2>  </div>  
  <div class="views-field views-field-field-location">        <div class="field-content">Malibu CA</div>  </div>  
  <div class="views-field views-field-field-price">        <div class="field-content">€1 400 000</div>  </div>  
  <div class="views-field views-field-field-area">    <span class="views-label views-label-field-area">Area: </span>    <div class="field-content">320m<sup>2</sup></div>  </div>  
  <div class="views-field views-field-field-bathrooms">        <div class="field-content">3</div>  </div>  
  <div class="views-field views-field-field-bedrooms">        <div class="field-content">3</div>  </div></li>
      <li class="jcarousel-item-11 odd">  
  <div class="views-field views-field-field-image">        <div class="field-content"><a href="property/villa/malibu-ca/3412-cloudcroft-dr.html"><img typeof="foaf:Image" src="sites/default/files/1_5.jpg" width="540" height="400" alt="" /></a></div>  </div>  
  <div class="views-field views-field-title">        <h2 class="field-content"><a href="property/villa/malibu-ca/3412-cloudcroft-dr.html">3412 Cloudcroft Dr</a></h2>  </div>  
  <div class="views-field views-field-field-location">        <div class="field-content">Malibu CA</div>  </div>  
  <div class="views-field views-field-field-price">        <div class="field-content">€900 000</div>  </div>  
  <div class="views-field views-field-field-area">    <span class="views-label views-label-field-area">Area: </span>    <div class="field-content">125m<sup>2</sup></div>  </div>  
  <div class="views-field views-field-field-bathrooms">        <div class="field-content">3</div>  </div>  
  <div class="views-field views-field-field-bedrooms">        <div class="field-content">2</div>  </div></li>
      <li class="jcarousel-item-12 even">  
  <div class="views-field views-field-field-image">        <div class="field-content"><a href="property/family-home/malibu-ca/746-de-soto-dr.html"><img typeof="foaf:Image" src="sites/default/files/8_4.jpg" width="540" height="400" alt="" /></a></div>  </div>  
  <div class="views-field views-field-title">        <h2 class="field-content"><a href="property/family-home/malibu-ca/746-de-soto-dr.html">746 De Soto Dr</a></h2>  </div>  
  <div class="views-field views-field-field-location">        <div class="field-content">Malibu CA</div>  </div>  
  <div class="views-field views-field-field-price">        <div class="field-content">€1 550 000</div>  </div>  
  <div class="views-field views-field-field-area">    <span class="views-label views-label-field-area">Area: </span>    <div class="field-content">180m<sup>2</sup></div>  </div>  
  <div class="views-field views-field-field-bathrooms">        <div class="field-content">2</div>  </div>  
  <div class="views-field views-field-field-bedrooms">        <div class="field-content">2</div>  </div></li>
  </ul>
    </div>
  
  
  
  
  
  
</div>  </div><!-- /.content --> 
</div><!-- /.block -->
  </div>
                </div> <!-- /.sidebar -->
                            </div>

                        <div class="row" id="bottom">
                <div class="span12">
                      <div class="region region-bottom">
  </div>
                </div>
            </div>
                    </div>
        <!-- /.container -->

            </div>
    <!-- /#content -->
</div>
<!-- /#wrapper-inner -->


<!-- /#wrapper-->
