      <tr class="even">
        <td><%= link_to publicacion.titulo, publicacion %></td>
        <td><%= publicacion.precio %></td>
        <td><%= publicacion.created_at.strftime("%d-%m-%Y") %></td>
      </tr>