<div id="content">
<div class="container">
    <div>
        <div id="main">
            <div class="list-your-property-form">
    <h2 class="page-header">Editar Propiedad</h2>

    <div class="content">
        <div class="row">
            <div class="span8">
                <p>
                    Modifique todos los campos que usted desea actualizar de la propiedad. 
                </p>
            </div><!-- /.span8 -->
        </div><!-- /.row -->

<%= render 'form' %>

</div><!-- /.content -->
</div><!-- /.list-your-property-form -->        </div>
    </div>
</div>

    </div><!-- /#content -->
</div><!-- /#wrapper-inner -->
