<div id="main_content">
    
        <div id="admin_header">
          <div class="admin_addoffer_title">Publicar nueva Propiedad</div>
        </div>
        <%= render 'form' %>
</div>
<div class="right_button">
<%= link_to 'Volver', :back %>
</div>
<div id="footer">

  <p> Email: info@comapnyname.com </p>
  <p> Telephone: 0234 789 90</p>

  <p> Mobile: 234 345 234534</p>

  <p> Fax: 34534 3456 3456(54)</p>

  <div id="copyright">
      <div style="float:left; padding:3px;"><a href="#"><img src="images/footer_logo.gif" width="42" height="35" alt="" title="" border="0" /></a></div>
      
      <div style="float:left; padding:14px 10px 10px 10px;"> Company name.&copy; All Rights Reserved 2008 - By <a href="http://csscreme.com" style="color:#772c17;">csscreme</a></div>
    </div>

 </div>
