
 <div id="content">
<div class="container">
    <div>
        <div id="main">
            <div class="list-your-property-form">
    <h2 class="page-header">Publicar Propiedad</h2>

    <div class="content">
        <div class="row">
            <div class="span8">
                <p>
                    Ingrese toda la información necesaria en los campos siguientes, información que debe describir la propiedad lo más exacta y completa ṕosible, para que los futuros residentes puedan escoger con la mayor cantidad de información. 
                </p>
            </div><!-- /.span8 -->
        </div><!-- /.row -->

        <%= render 'form' %>
</div><!-- /.content -->
</div><!-- /.list-your-property-form -->        </div>
    </div>
</div>

    </div><!-- /#content -->
</div><!-- /#wrapper-inner -->