<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado una petición para cambiar la contraseña. Tú puedes realizar a través del siguiente enlace.</p>
<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si tú no lo solicitaste, por favor ignorar este email</p>
<p>Tú contraseña no cambiará hasta que ingreses al link e introduscas una nueva</p>
