<p>Hola <%= @resource.email %>!</p>

<p>Tú cuenta ha sido bloqueada débido a un exceso de intentos en el acceso a la cuenta</p>

<p>Ingresa al siguiente link para desbloquearla:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, :unlock_token => @token) %></p>
